@use './variables' as *;
@use './mixins' as *;

#Work,
#Feedback,
#Contacts {
  scroll-margin-top: 80px;
}

main{
    font-family: 'Century Gothic';
    .arrow-a{
      position: fixed;
      bottom: 40px;
      right: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: 20;
  }
  .arrow-img{
      margin-left: 4px;
      margin-top: 2px;
      z-index: 21;
      width: 40px;
      height: 40px;
  }
  .sec-1 {
    .sec-1__content {
      h1 {
        font-size: 54px;
        line-height: 58px;
        font-weight: 800;
        text-align: center;
        letter-spacing: 2px;
      }
      h2 {
        font-weight: 800;
        margin-bottom: 60px;
        text-align: center;
        color: $accent-grey-color;
      }
      .sec1-btn{
        cursor: pointer;
        max-width: 436px;
        padding: 10px 20px;
        color: $white-color;
        border: none;
        font-size: 38px;
        line-height: 1.5;
        letter-spacing: 2px;
        background-image: linear-gradient(-32deg, rgba(238,96,156,0.9999999999999999) 0%, rgba(181,100,217,0.996078431372549) 100%);
        margin-bottom: 48px;
        border-radius: 999px;
      }
    }
  
    @include onLargeDesktop {
      .sec-1__content {
        h1 {
          font-size: 44px;
          line-height: 50px;
        }
        .sec1-btn{
            font-size: 36px;
        }
      }
    }
  
    @include onSmallDesktop {
      .sec-1__content {
        h1 {
          font-size: 36px;
          line-height: 38px;
        }
        h2 {
          margin-bottom: 50px;
        }
        .sec1-btn{
          font-size: 30px;
          margin-bottom: 40px;
        }
      }
    }
  
    @include onLargeTablet {
      .sec-1__content {
        h1 {
          font-size: 40px;
          line-height: 42px;
          margin-bottom: 15px;
        }
        h2 {
          margin-bottom: 35px;
        }
        .sec1-btn{
            font-size: 28px;
            margin-bottom: 35px;
        }
      }
    }
  
    @include onSmallTablet {
      .sec-1__content {
        h1 {
          font-size: 28px;
          line-height: 34px;
          margin-bottom: 10px;
        }
        .sec1-btn{
            font-size: 24px;
        }
      }
    }
  
    @include onMobile {
  
      .sec-1__content {
        h1 {
          font-size: 28px;
          line-height: 30px;
        }
        .sec1-btn{
            font-size: 20px;
        }
      }
    }
  }
  
  .sec-2 {    
    .sec-2__content--2{
        a{
            color: $accent-pink-color;
            margin-bottom: 20px;
            width: 100%;
            img {
              width: 90px;
              height: auto;
              aspect-ratio: 1 / 1;
              object-fit: content;
              flex-shrink: 0;
              margin-right: 15px;
              border-radius: 5px;
              background-color: $accent-pink-color;
            }
            @include onLargeTablet{
              img {
                width: 65px;
              } 
            }
            @include onMobile{
              img {
                width: 45px;
              }
            }
        }
        position: relative;
        width: 100%;
        height: clamp(600px, 90vh,1000px); 
        overflow: hidden;
        .img1 {
          position: absolute;
          left: 0%; 
          bottom: 20%; 
          width: clamp(220px, 40vw, 450px); 
          object-fit: cover; 
        } 
        .img2 {
          position: absolute;
          top: 0;
          right: clamp(-250px, -15vw, -340px);
          width: clamp(300px, 55vw, 700px);
          max-width: 100vw;
          object-fit: cover;
        }
        @include onLargeTablet{
          height: max-content;
          .img1{
            display: none;
          } 
          .img2{
            display: none;
          }
        }
    }

    .sec-2__content--3{
        img {
            width: 80px;
            margin-bottom: 23px;
        }
        h3 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 34px;
        }
    }
    
    @include onSmallDesktop {
      .sec-2__content--3 {
          img {
            width: 60px;
            margin-bottom: 18px;
          }
        }
    }
    @include onMobile{
      .sec-2__content--3 {
        img {
              width: 45px;
            }
      }
    }
  }

  .sec-3 {
    .sec-3__content{
      margin-bottom: 50px;
        h3{
            color: $accent-pink-color;
            margin-bottom: 50px;
            text-align: center;
        }
        .sec3-cards {
          width: 60%;
          margin: 0 auto;
        
          .sec3-card {
              span.photo {
              display: block;
              width: 100%;
              height: auto;
              overflow: hidden;
      
              img {
                width: 100%;
                display: block;
              }
          }
        }
      }
    

    @include onSmallTablet {
      margin-bottom: 20px;
      h3{
        margin-bottom: 20px;
      }
      .sec3-card{
        padding: 10px;
      }
    }
    @include onMobile {
      margin-bottom: 10px;
      h3{
        margin-bottom:10px;
      }
    }
  }
  }

  .sec-4 {
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

  .sec4-cards {
    width: 60%;
    margin: 0 auto 150px;
  }
  
  .sec4-card {
    span {
      display: block;
      text-align: center;

      &.rating {
        font-size: 30px;
        font-weight: 700;
        color: #FFA858;
        margin-bottom: 25px;
      }

      &.description {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 42px;
        margin-bottom: 20px;
        text-align: justify;
      }

      &.name {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      &.role {
        font-size: 15px;
      }
    }
  }

  .sec4-stats {
    gap: 60px;

    @include onLargeDesktop {
      gap: 40px;
    }

    @include onSmallDesktop {
      gap: 30px;
    }

    @include onLargeTablet {
      gap: 20px;
    }

    @include onMobile {
      gap: 5px;
    }
  }

  .sec4-stats-block {
    width: 210px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #F1F1F1;
    border: solid 2px #7EB693;


    p {
      text-align: center;
      font-size: 18px;

      strong {
        font-size: 50px;
      }
    }
  }

  @include onLargeDesktop {
    .sec4-stats {
      gap: 40px;
    }

    .sec4-stats-block {
      width: 170px;

      p strong {
        font-size: 40px;
      }
    }
  }

  @include onSmallDesktop {
    h2 {
      margin-bottom: 20px;
    }

    .sec4-cards {
      width: 70%;
      margin-bottom: 100px;
    }

    .sec4-card {
      span {
        &.photo {
          width: 100px;
        }
        &.rating {
          font-size: 25px;
          margin-bottom: 15px;
        }
        &.description {
          font-size: 16px;
          line-height: 30px;
        }
        &.name {
          font-size: 23px;
        }
      }
    }

    .sec4-stats {
      gap: 30px;
    }

    .sec4-stats-block {
      width: 150px;

      p {
        font-size: 16px;

        strong {
          font-size: 30px;
        }
      }
    }
  }

  @include onLargeTablet {
    .sec4-cards {
      margin-bottom: 80px;
    }
    .sec4-stats {
      gap: 20px;
    }
    .sec4-stats-block {
      width: 120px;

      p {
        font-size: 13px;

        strong {
          font-size: 22px;
        }
      }
    }
  }

  @include onSmallTablet {
    .sec4-cards {
      width: 95%;
      margin-bottom: 60px;
    }
    .sec4-card {
      padding: 10px;
      span {
        &.photo {
          width: 80px;
        }
        &.rating {
          font-size: 20px;
          margin-bottom: 10px;
        }
        &.description {
          font-size: 14px;
          margin-bottom: 10px;
        }
        &.name {
          font-size: 18px;
        }
      }
    }
    .sec4-stats-block {
      width: 100px;

      p {
        font-size: 11px;

        strong {
          font-size: 18px;
        }
      }
    }
  }

  @include onMobile {
    .sec4-card {
      span {
        &.rating {
          font-size: 18px;
          margin-bottom: 3px;
        }
        &.name {
          margin-bottom: 0;
        }
        &.role {
          font-size: 13px;
        }
      }
    }
    .sec4-stats {
      gap: 5px;
    }
    .sec4-stats-block {
      padding: 3px;
    }
  }
  }

  .sec-5 {
    h2 {
      border-top: 1px solid $accent-pink-color;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 32px;
      margin-bottom: 30px;
    }  
    @include onLargeTablet {
      p {
        font-size: 16px;
      }
    }
    @include onMobile{
      p {
        font-size: 14px;
      }
    }
  }
  .sec-2__content--2 .img1,
  .sec-2__content--2 .img2 {
  pointer-events: none;
}
}