@use './variables' as *;
@use './mixins' as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 30px 0;
  font-family: 'Century Gothic';
  box-shadow: 0 8px 10px -5px rgba(210, 125, 185, 0.3);
  width: 100%;
  background-color: $white-color;

  .mobile-menu {
    display: none;
  }

  .logo {
    max-width: 300px;
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
      object-fit: contain;
      }
    }
    .instagram{
      max-width: 60px;

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
      }
    }
  
    .nav {
      ul {
        padding: 0;
        margin: 0 0 20px;
        li {
          margin-right: 30px;
    
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #000;
            font-size: 34px;
            font-weight: 500;
            letter-spacing: 2px;
            padding: 5px 0;
          }
        }
      }
    }
  
    @include onLargeDesktop {
      padding: 30px 0;
  
      .logo {
        height: 125px;
      }

      .instagram {
        width: 60px;
      }
  
      .nav {
        ul {
          li {
            margin-right: 20px;
            a {
              font-size: 28px;
            }
          }
        }
      }
    }
  
    @include onSmallDesktop {
      padding: 20px 0;
      .logo {
        height: 100px;
      }
      .instagram {
        width: 45px;
      }
      .nav {
        ul {
          li {
            margin-right: 15px;
            a {
              font-size: 22px;
            }
          }
        }
      }
    }
  
    @include onLargeTablet {
      padding: 10px 0;
    }
  
    @include onSmallTablet {
      padding: 10px 0;
      position: static;
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: flex;
        button.burger {
          height: 40px;
          width: 40px;
          border: none;
          cursor: pointer;
          img {
            &.hidden {
              display: none;
            }
          }
        }
        .nav {
          position: fixed;
          top: 75px;
          right: 0;
          z-index: 2;
          height: max-content;
          width: 40%;
          padding: 20px 20px 30px;
          background-color: $white-color;
          border: 1px solid $accent-pink-color;
          border-radius: 5px;
          transform: translateX(100%);
          transition: transform 0.2s linear;
          &.visible {
            transform: translateX(50%);
            right: 20px;
          }
          ul {
            li {
              text-align: center;
              color: $text-color;
              width: 80%;
              margin: 0 auto 15px;
              padding-bottom: 7px;
              border-bottom: solid 1px $accent-pink-color;
  
              &:last-child {
                margin-bottom: 0;
              }
              a {
                font-size: 18px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  
    @include onMobile {
      padding: 10px 0;
      .logo {
        height: 175px;
      }
      .mobile-menu {
        button.burger {
          height: 30px;
          width: 30px;
          img {
            width: 25px;
          }
        }
        .nav {
          width: max-content;;
          top: 50px;
          padding: 15px 15px 25px;
          ul {
            li {
              margin: 0 auto 10px;
              padding-bottom: 5px;
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  header {
    @include onSmallTablet {
      padding: 15px 0;
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: flex;
        button.burger {
          height: 40px;
          width: 40px;
          img {
            width: 30px;
            &.hidden {
              display: none;
            }
          }
        }
        .nav {
          position: fixed;
          top: 90px;  right: 0;
          height: max-content;
          padding: 20px 20px 30px;
          background-color: $white-color;
          transform: translateX(100%);
          transition: transform 0.2s linear;

          &.visible { transform: translateX(0); }
          ul {
            li {
              text-align: center; 
              color: $accent-pink-color;
              width: 80%; margin: 0 auto 15px;
              padding-bottom: 7px;
              border-bottom: solid 1p $accent-pink-color;
  
              &:last-child { margin-bottom: 0; }
              a { font-size: 14px; }
            }
          }
        }
      }
    }
  }