@use './variables' as *;
@use './mixins' as *;

*, *::before, *::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p {
  margin: 0;
}
.df {
  display: flex;
}
.fc {
  flex-direction: column;
}
.fr {
  flex-direction: row;
}
.justify-a {
  justify-content: space-around;
}
.justify-b {
  justify-content: space-between;
}
.justify-c {
  justify-content: center;
}
.align-c {
  align-items: center;
}
.align-s {
  align-items: flex-start;
}
.align-e {
  align-items: flex-end;
}
li {
  list-style: none;
}
.dn {
  text-decoration: none;
}
.bg-w {
  background: white;
}
.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 160px;
  
    @include onLargeDesktop {
      padding: 0 100px;
    }
  
    @include onSmallDesktop {
      padding: 0 50px;
    }
  
    @include onLargeTablet {
      padding: 0 40px;
    }
  
    @include onSmallTablet {
      padding: 0 30px;
    }
  
    @include onMobile {
      padding: 0 15px;
    }
  }
  main {
    padding: 260px 0 0 0;
    @include onLargeDesktop {
      padding: 240px 0 0 0;
    }
  
    @include onSmallDesktop {
      padding: 220px 0 0 0;
    }
  
    @include onLargeTablet {
      padding: 200px 0 0 0;
    }
  
    @include onSmallTablet {
      padding: 50px 0 0 0;
    }
  
    @include onMobile {
      padding: 30px 0 0 0;
    }
  }
  // sub title
  .sec-subtitle {
    font-size: 43px;
    line-height: 58px;
    letter-spacing: 2px;
  
    @include onLargeDesktop {
      font-size: 28px;
    }
  
    @include onSmallDesktop {
      font-size: 24px;
    }
  
    @include onLargeTablet {
      font-size: 20px;
      line-height: 42px;
    }
  
    @include onSmallTablet {
      font-size: 18px;
      line-height: 34px;
    }
  
    @include onMobile {
      font-size: 16px;
    }
  }
  
  .content-fs{
    font-size: 29px;                
    letter-spacing: 1px;
    line-height: 42px;
    text-align: justify;
    color: black;
    margin-bottom: 15px;

    @include onLargeDesktop {
      font-size: 26px;
    }
    
    @include onSmallDesktop {
      font-size: 20px;
      line-height: 30px;
    }
    
    @include onLargeTablet {
      font-size:18px;
    }
    
    @include onSmallTablet {
      font-size: 16px;
    }
  }
  
  