@mixin onLargeDesktop {
    @media (max-width: 1600px){
        @content;
    }
}

@mixin onSmallDesktop {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin onLargeTablet {
    @media (max-width:980px) {
        @content;
    }
}

@mixin onSmallTablet {
    @media (max-width:768px) {
        @content;
    }
}
@mixin onMobile {
    @media (max-width:430px) {
        @content;
    }
}
