@use './variables' as *;
@use './mixins' as *;

.modals-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 101;
  display: none;
  
  &.visible {
    display: flex;
    
  }
  
  .modal {
    position: relative;
    background-color: $white-color;
    border: 1px solid $accent-pink-color;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
    max-height: 80vh;
    overflow: hidden;
    display: none;
    padding: 35px;
    
    &::-webkit-scrollbar {
      width: 0;
    }
  
    &.visible {
      display: block;
    }
  
    button.modal-close-btn {
      position: absolute;
      border: 1px solid $accent-pink-color;
      border: 5px;
      background-color: $white-color;
      top: 15px;
      right: 15px;
      height: 30px;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      z-index: 1;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $accent-pink-color;
  
        &:first-child {
          transform: translate(-50%, -50%) rotate(45deg);
        }
  
        &:last-child {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .modal-content{
      max-height: 80vh;
      overflow-y: auto;
      h3 {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 1px;          
        text-align: center;
      }
      p {
        color: black;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: justify;
      }
      &::-webkit-scrollbar {
        width: 3px;
      }
      
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $accent-pink-color;
        border-radius: 4px;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: darken($accent-pink-color, 10%);
      }
      
      @include onLargeTablet{
        h3{
          font-size: 22px;
        }
        p {
          font-size: 16px;
        }
      }
      @include onMobile{
        h3{
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    img {
      width: 30%;
      margin: 0 25px 5px 0;
      border-radius: 5px;      
    }
  
    p {
      font-size: 20px;
      line-height: 105%;
      color: $accent-pink-color;
      strong {          
        font-size: 1.1em;
      }
    }

    @include onSmallDesktop {
      padding: 25px;
  
      button.modal-close-btn {
        height: 23px;
      }
  
      img {
        margin-right: 15px;
      }
  
      p {
        font-size: 16px;
      }
    }
  
    @include onLargeTablet {
      width: 90%;
      padding: 30px 20px;
      border-radius: 18px;
  
      p {
        font-size: 14px;
      }
    }
  
    @include onSmallTablet {
      button.modal-close-btn {
        height: 18px;
        top: 10px;
        right: 10px;
      }
  
      img {
        margin-right: 8px;
        border-radius: 8px;
      }
  
      p {
        font-size: 12px;
      }
    } 

    @include onMobile {
      padding-top: 27px;
    }
  }
}
  
body.overflow {
  overflow: hidden;
}