.content-p{
    @include onLargeDesktop {
        p {
            font-size: 26px;
        }
        a {
            font-size: 26px;
        }  
    }
    
    @include onSmallDesktop {
        p {
            font-size: 20px;
            line-height: 30px;
        }
        a {
            font-size: 20px;
        }

    }
    
    @include onLargeTablet {
        p {
            font-size:18px;
        }
        a {
            font-size:18px;
        }

    }
    
    @include onSmallTablet {
        p {
            font-size: 16px;
        }
        a {
            font-size: 16px;
        }
    }
    
    @include onMobile {
        .sec-2__banner-wrapper {
            flex-direction: column;
        }
    }
    
    
    
    
    .sec-2__content--3{
        img {
            width: 80px;
            margin-bottom: 23px;
        }
        h3 {
            font-size: 42px;
            letter-spacing: 1px;
            line-height: 33px;
            margin-bottom: 15px;
        }
        p {
            font-size: 29px;
            letter-spacing: 1px;
            line-height: 42px;
            margin-bottom: 34px;
            text-align: justify;
        }
    }
    @include onLargeDesktop {
        .sec-2__content--3 {
            h3 {
                font-size: 34px;
            }
            
        }
    }
    
    @include onSmallDesktop {
        .sec-2__content--3 {
            img {
                width: 60px;
                margin-bottom: 18px;
            }
            h3 {
                font-size: 28px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }
    }
    
    @include onLargeTablet {
        .sec-2__content--3 {
            h3 {
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    
    @include onSmallTablet {
        .sec-2__content--3 {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    
}

}